faiss-cpu
fastapi
langchain
langchain-groq
langchain-openai
langchain_community
langchain_google_genai
langchain-text-splitters
google-generativeai
groq
pydantic
streamlit
python-dotenv
pypdf
selenium
webdriver-manager
uvicorn[standard]


